<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="taj_mehal">
  <div class="login">
			<div class="login_image">
	    <img src="assets/imgs/login_top_icon.png" /> </div>
	    <div class="input_types">
	    	
	    	<ion-list>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input class="emailinput" type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input class="passwordinput" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
<button (click)="loginTapped($event)">Submit</button>

</ion-list>
	    	
	    </div>
	<div class="footer_login">
		<div class="forgot_password">	<button (click)="forgotTapped($event)">
	    			  Forgot Password?
	    			  </button></div>
	    			  <div class="new_accounts">	<button (click)="registerTapped($event)">
	    			  Register Account
	    			  </button></div>
	</div>    
  
	    
  </div>
  
</ion-content>
