page-login {
    .login{
		padding:0 20px;
	}
	.login_image{
		/*padding: 10% 30% 0 30%;*/
        padding: 20px;
        text-align: center;
	}
	.login_image img{
		width: 100px;
	}
    .emailinput{
        background: url(../assets/imgs/email.png) no-repeat right 5px;
        background-size: 25px;
    }
    .passwordinput{
        background: url(../assets/imgs/login_password.png) no-repeat right 5px;
        background-size: 25px;
    }
	.input_types{
		overflow: hidden;
		.item-md{
			background-color: transparent;
			padding-left: 0;
		}
		.list-md .item-block .item-inner{
//			border-bottom: 1px solid #000;
		}
		.item-input .label-md, .item-select .label-md, .item-datetime .label-md
		{
//			color: #000;
		}
		.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
		border-bottom-color: #a343be;	
		}
		button{
			background-color: #a343be
				;
			width: 100%;
			display: block;
			overflow: hidden;
			clear: both;
			padding: 0;
			margin: 0;
			margin-top: 30px;
			border-radius: 5px;
			box-shadow: inherit !important;
			padding: 17px 0;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
			
		}
	}
	.grid_system{
		display: block;
	}
	.grid_system button{
		background-color: transparent;
		padding: 0;
		margin: 0;
		text-align: left !important;
	}
	.grid_system button:last-child{
		text-align: right !important;
	}
	.anme{
		text-align: right;
	}
	.footer_login{
		display: block;
		clear: both;
		overflow: hidden;
        margin-top: 15px;
	}
	.forgot_password{
		float: left;
		width: 50%;
        
        
	}
	.forgot_password button{
		background-color: transparent;
		padding: 0;
		margin: 0;
		text-align: left !important;
        font-size: 15px;
        background: url(../assets/imgs/forget_password.png) no-repeat;
        background-size: 20px;
        padding-left: 25px;
        padding-bottom: 10px;
        padding-top: 3px;
	}
	.new_accounts{
		float: right;
		width: 50%;
        
	}
	.new_accounts button{
		background-color: transparent;
		padding: 0;
		margin: 0;
		text-align: right!important;
		float: right;
        font-size: 15px;
        background: url(../assets/imgs/new_accounts.png) no-repeat;
        background-size: 20px;
        padding-left: 25px;
        padding-bottom: 10px;
        padding-top: 3px;
	}
    @media only screen and (max-width: 340px) {
    .forgot_password{
        button{
            font-size: 14px;
        }
        
    } 
        .new_accounts{
            button{
                font-size: 14px;
            }
            
        }
}
}

