<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
<div class="resgier">
      <ion-list>
<form class="form" [formGroup]="validations_form" (ngSubmit)="onRegisterSubmit(validations_form.value)">
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="name" value=""></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

      <ion-item>
        <ion-label floating>Mobile</ion-label>
        <ion-input type="text" formControlName="mobile" value=""></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.mobile">
        <div class="error-message" *ngIf="validations_form.get('mobile').hasError(validation.type) && (validations_form.get('mobile').dirty || validations_form.get('mobile').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="email" value=""></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

     

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password" value=""></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
      
      
 <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.address">
        <div class="error-message" *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    
    
    <ion-item>
        <ion-label floating>State</ion-label>
        <ion-textarea formControlName="state"></ion-textarea>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.state">
        <div class="error-message" *ngIf="validations_form.get('state').hasError(validation.type) && (validations_form.get('state').dirty || validations_form.get('state').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    
    <ion-item>
        <ion-label floating>Postcode</ion-label>
        <ion-textarea formControlName="postcode"></ion-textarea>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.postcode">
        <div class="error-message" *ngIf="validations_form.get('postcode').hasError(validation.type) && (validations_form.get('postcode').dirty || validations_form.get('postcode').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
        
    
    
    
    <ion-item>
<!--    <p>{{imageURI}}</p>-->
    <button type="button" class="imagebtn" ion-button color="secondary" (click)="getImage()">Get Image</button>
  </ion-item>
    
    
    <ion-item class="termsitem">
    <ion-label></ion-label>
    <ion-checkbox formControlName="terms"></ion-checkbox>
        
  </ion-item>
    <p class="termsp">I agree with the <span (click)="termsTapped($event)">terms & conditions</span></p>
      
        <div padding>
        <!--[disabled]="!validations_form.valid"-->
      <button class="submitbtn" [disabled]="!validations_form.valid" type="submit">Submit</button>
    </div>
          </form>
    </ion-list>
	</div>
  
</ion-content>
