<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terms & Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card class="customcards_rems">

  <ion-card-header>
      User Consents and Agreements
  </ion-card-header>

  <ion-card-content>
      <ul>
          <li>User has authorized the described animal to be picked up from and/or dropped off to addressed or named residential/commercial building.</li>
          <li>User has communicated to PetEsteem LLC and/or facility from which animal is being retrieved, by electronic device communication methods (call, text, email) the final destination of the described animal.</li>
          <li>User shall designate a person and/or persons who user deems trustworthy to receive animal from transport driver. User holds designee fully responsible for the care of the animal until a time not negotiated by PetEsteem LLC.</li>
          <li>User and/or designee agrees to thoroughly look over pet immediately upon arrival for any damage or harm, and is to alert transport driver of ALL concerns. ANY AND ALL CONCERNS RAISED AFTER THE DEPARTURE OF TRANSPORT DRIVER ARE THE RESPONSIBILITY OF THE OWNER.</li>
          <li>PetEsteem and its' drivers/affliates reserves the right to refuse transport or pickup if deemed unsafe or unsanitary. Pre-paid service will be refunded in full. If user cancels for any reason PetEsteem LLC will refund all pre-paid money minus $10 as cancellation fee.</li>
      </ul>
  </ion-card-content>

</ion-card>
</ion-content>
