page-terms {
    .customcards_rems{
        .card-header{
            text-align: center;
            border-bottom: 1px solid #ddd;
            color: #a343be;
            font-weight: bold;
            font-size: 16px;
        }
        ul{
            li{
                list-style: decimal;
                margin-bottom: 10px;
            }
        }
    }
}
