<!--
  Generated template for the CardetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>cardetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
<div class="resgier">
      <ion-list>
<form class="form" [formGroup]="validations_form" (ngSubmit)="oncardetailSubmit(validations_form.value)">
      <ion-item>
        <ion-label floating>Make</ion-label>
        <ion-input type="text" formControlName="car_make" value="{{car_make}}"></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.car_make">
        <div class="error-message" *ngIf="validations_form.get('car_make').hasError(validation.type) && (validations_form.get('car_make').dirty || validations_form.get('car_make').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

      <ion-item>
        <ion-label floating>Model</ion-label>
        <ion-input type="text" formControlName="car_model" value="{{car_model}}"></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.car_model">
        <div class="error-message" *ngIf="validations_form.get('car_model').hasError(validation.type) && (validations_form.get('car_model').dirty || validations_form.get('car_model').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

      <ion-item>
        <ion-label floating>Year</ion-label>
        <ion-input type="text" formControlName="car_year" value="{{car_year}}"></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.car_year">
        <div class="error-message" *ngIf="validations_form.get('car_year').hasError(validation.type) && (validations_form.get('car_year').dirty || validations_form.get('car_year').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
        
    <ion-item>
        <ion-label floating>Color</ion-label>
        <ion-input type="text" formControlName="car_color" value="{{car_color}}"></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.car_color">
        <div class="error-message" *ngIf="validations_form.get('car_color').hasError(validation.type) && (validations_form.get('car_color').dirty || validations_form.get('car_color').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
        
    
    <ion-item>
        <ion-label floating>Plate #</ion-label>
        <ion-input type="text" formControlName="car_number" value="{{car_number}}"></ion-input>
      </ion-item>
      <div class="validation-errors custom-validation-errors">
      <ng-container *ngFor="let validation of validation_messages.car_number">
        <div class="error-message" *ngIf="validations_form.get('car_number').hasError(validation.type) && (validations_form.get('car_number').dirty || validations_form.get('car_number').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

      
        <div padding>
        <!--[disabled]="!validations_form.valid"-->
      <button class="submitbtn" [disabled]="!validations_form.valid" type="submit">Submit</button>
    </div>
          </form>
    </ion-list>
	</div>
  
</ion-content>
