page-cardetails {
.resgier{
	.submitbtn{
			background-color: #a343be
				;
			width: 100%;
			display: block;
			overflow: hidden;
			clear: both;
			padding: 0;
			margin: 0;
			border-radius: 5px;
			box-shadow: inherit !important;
			padding: 17px 0;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
			
		}
		.item-md{
			padding-left: 15px;
			padding-right: 15px;
		}
        .custom-validation-errors .error-message{
                color: red;
    margin-left: 15px;
    margin-top: 5px;
        }
        .termsitem{
            display: inline-block;
width: auto;
            padding-right: 0;
            margin-top: 15px;
        }
        .termsitem .item-inner{
            border-bottom: 0 !important;
            display: none;
        }
        .termsp span{
            color: #4a86ef;
            cursor: pointer;
        }
        .termsp{
            display: inline-block;
            vertical-align: top;
            margin-top: 24px;
        }
	}
}
