// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background-md{
	background-color: #a343be;
}
.toolbar-title-md{
	color: #fff;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
	color: #fff;
}
.submitfullbtn{
    background-color: #a343be
				;
			width: 100%;
			display: block;
			overflow: hidden;
			clear: both;
			padding: 0;
			margin: 0;
			margin-top: 30px;
			border-radius: 5px;
			box-shadow: inherit !important;
			padding: 17px 0;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
}