<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Forgot Password</ion-title>
    
  </ion-navbar>
</ion-header>


<ion-content >
<div class="Login">
      <ion-list>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

     
      
        <div padding>
      <button  (click)="forgotTapped($event)">Submit</button>
    </div>
    </ion-list>
	</div>
</ion-content>
