page-forgotpassword {
.Login{
    ion-input{
        background: url(../assets/imgs/email.png) no-repeat right 5px;
        background-size: 25px;
    }
	button{
			background-color: #a343be
				;
			width: 100%;
			display: block;
			overflow: hidden;
			clear: both;
			padding: 0;
			margin: 0;
			margin-top: 30px;
			border-radius: 5px;
			box-shadow: inherit !important;
			padding: 17px 0;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
			
		}
		.item-md{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
