<!--
  Generated template for the CurrentorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
       <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>currentorder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-card>

  <ion-card-header>
      Order Detail
  </ion-card-header>
    <div class="actiondriver"></div>
  <ion-card-content>
      <div class="singledetail">
          <p class="orderactions" *ngIf="order_status == 1"><strong>Action: </strong><button (click)="pickedorder($event)">Order Picked?</button></p>
          <p class="orderactions" *ngIf="order_status == 2"><strong>Action: </strong><button (click)="order_delivered($event)">Order Delivered?</button></p>
          <p>
              <strong>Order Status: </strong>
              <ion-badge *ngIf="order_status == 3" color="secondary">Delivered</ion-badge>
          </p>
          <p><strong>Pickup Address: </strong><span>{{order_address_pickup}}</span></p>
          <p><strong>Destination Address: </strong><span>{{order_address_destination}}</span></p>
          <p><strong>Distance: </strong><span>{{totaldistance}} Miles</span></p>
          <p><strong>Date: </strong><span>{{order_date}}</span></p>
          <p><strong>Time: </strong><span>{{order_time}}</span></p>
          <p><strong>Total: </strong><span>${{totalprice}}</span></p>
          <p><strong>Pet Name: </strong><span>{{pet_name}}</span></p>
          <p><strong>Animal Type: </strong><span>{{animal_type}}</span></p>
          <p><strong>Pet Size: </strong><span>{{pet_size}}</span></p>
          <p><strong>Do this animal have a history of biting/clawing or being aggressive towards people/other animals? </strong><span>{{biting_history}}</span></p>
          <p><strong>Does this animal have any existing or prior physical and/or mental conditions? </strong><span>{{physical_condition}}</span></p>
          <p><strong>Is this animal older than 6 (in human years)? </strong><span>{{older_then_six}}</span></p>
          <p><strong>Is this animal allergic to anything or on any medication? </strong><span>{{medication}}</span></p>
          <p><strong>Pet Image</strong><span><img src="{{baseurl}}{{pet_image}}"></span></p>
      </div>
  </ion-card-content>
   
</ion-card>
</ion-content>
