page-currentorder {
ion-card-header{
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }
    ion-card{
        border: 1px solid #605d60;
    }
    ion-content{
        padding: 15px !important;
    }
    .submitdiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .card-header{
        color: #fff;
        background-color: #605d60;
    }
    ion-card-content{
        padding: 0 !important;
        margin: 0;
    }
    .singledetail p:nth-child(even){
        background-color: #eae5ea;
    }
    .singledetail p strong{
        clear: both;

display: block;
    }
    .singledetail p{
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .submitfullbtn{
        margin-bottom: 20px;
    }
    .orderactions{
        overflow: hidden;
        strong{
            display: inline-block;
            float: left;
        }
        button{
            display: inline-block;

float: right;

background-color: #a343be;

color: #fff;

padding: 10px;
        }
    }
}
